* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(images/bkg2.jpeg); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two-column-layout {
    box-sizing: border-box;
}

.left-section {
    float: left;
    width: 60%;
    height: 100vh;
    position: relative;
}

#fixed-logo {
    width: 70px;
    padding: 30px 0 0 2vw;
}

.left-section h1 {
    font-size:  18vw;
    padding-left: 1vw;
    padding-top: 5vh;
}

.left-section p {
    font-size: 22px;
    padding: 20px 10vw 0 2vw;
}

.right-section {
    float: left;
    width: 40%;
    height: 100vh;
    position: relative;
}

#profile {
    width: 400px;
    position: absolute;
    bottom: 0;
    object-fit: fill;
    /* object-position: 0 20px; */
}

#down-arrow {
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 100px;
}
