* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/bkg3.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    height: 15vh;
    padding-top: 10vh;
}

.nav-bar {
    text-align: center;
    height: 40vh;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    /* border: 2px black solid; */
}

.menu-items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}   

.nav-bar h1 {
    display: inline;
    font-size: 10vh;
    padding: 0 5.5vw;
}

h1 a {
    text-decoration: none;
    color: black;
}

.footer {
    text-align: center;
    height: 10vh;
    padding-top: 20vh;
}

/* .footer {
    text-align: center;
    position: fixed;
    bottom: 10vh;
    width: 20vw;    
    left: 40vw;
} */


/* animation */
html.sr .load-hidden {
    visibility: hidden;
}
  
.expand:hover {
    transform: scale(1.5);
}
