* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/86695630_1556819454482099_4211466337127497728_o.jpg?_nc_cat=103&_nc_ohc=52K_gJP2cX8AX91rhh-&_nc_ht=scontent-ort2-2.xx&oh=32b678892cfc7c082dfdd631166f3b47&oe=5EFEF169);
    background-size: 101vw;
}

.Text {
    position: relative;
    left: 10vw;
}

/* Title - Fluff Stuff */
h1 {
    text-transform: uppercase;
    font-size: 125px;
    padding-top: 20vh;
    padding-bottom: 15px;
    font-family: myriad-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1em;
}

h1 span {
    font-family: myriad-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Subtitle */
h4 {
    font-size: 19px;
    text-transform: uppercase;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 35px;
}

/* 'Explore' button */
button {
    border: 0;
}

button a {
    text-decoration: none;
}

h5 {
    display: inline;
    font-size: 21px;
    font-family: myriad-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Arrow {
    padding-left: 20px;
}


